# ===============================
# Visual Studio
# ===============================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ===============================
# Build results
# ===============================
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ny CPU/

# ===============================
# .NET Core
# ===============================
*.dll
*.exe
*.pdb
*.cache
*.log

# ===============================
# Rider / JetBrains
# ===============================
.idea/
*.sln.iml

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# User specific files
# ===============================
*.rsuser
*.userprefs

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# NuGet
# ===============================
*.nupkg
*.snupkg
.nuget/
packages/

# ===============================
# Publish
# ===============================
publish/

# ===============================
# Temporary files
# ===============================
*.tmp
*.temp
